<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <!-- <button ion-item (click)="openItem(item)" > -->
      <button ion-item (click)="selectItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" *ngIf="item.profilePic" />
          <img src="../../assets/img/NotAvailable.png" *ngIf="!item.profilePic" />
        </ion-avatar>
        <h2>{{item.serial}}. {{item.name}}</h2>
        <p>{{item.price | currency: 'Rs '}}</p>
        <ion-icon name="heart" color="light" item-end *ngIf="!item.isFavorite"></ion-icon>
        <ion-icon name="heart" color="danger" item-end *ngIf="item.isFavorite"></ion-icon> 
        <!-- <ion-note item-end *ngIf="item.description">{{item.description}}</ion-note> -->
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addItem()">
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>